.title {
  font-weight: 500;
  font-size: 3.4rem;
  line-height: 41px;
  text-align: center;
  margin-bottom: 2.4rem;
}

/* (min-width: 768px) and (max-width: 1023px) */
@media (min-width: 48em) and (max-width: 63.9375em) {
  .title {
    font-size: 6.8rem;
    line-height: 8.2rem;
    margin-bottom: 4.8rem;
  }
}

/* (max-width: 767px) */
@media (max-width: 47.9375em) {
  .title {
    font-size: 6.8rem;
    line-height: 8.2rem;
    margin-bottom: 4.8rem;
  }
}
