.header {
  padding: 3rem 0;
  margin-bottom: 10rem;
}

/* (min-width: 768px) and (max-width: 1023px) */
@media (min-width: 48em) and (max-width: 63.9375em) {
  .header {
    padding: 3rem 0;
  }
}

/* (max-width: 767px) */
@media (max-width: 47.9375em) {
  .header {
    padding: 3rem 0;
  }
}
