.nav__item {
  display: flex;
  align-items: center;
}
.nav__item:not(:last-child)::after {
  content: '';
  display: block;
  width: .1rem;
  height: 4rem;
  background-color: #C9C9C9;
  height: 4rem;
  margin: 0 2.5rem;
}

/* (min-width: 1440px) and (max-width: 1599px) */
@media (min-width: 90em) and (max-width: 99.9375em) {

}

/* (min-width: 1024px) and (max-width: 1439px) */
@media (min-width: 64em) and (max-width: 89.9375em) {

}

/* (min-width: 768px) and (max-width: 1023px) */
@media (min-width: 48em) and (max-width: 63.9375em) {
  .nav__item:not(:last-child)::after {
    width: .2rem;
    height: 8rem;
    height: 8rem;
    margin: 0 5rem;
  }
}

/* (max-width: 767px) */
@media (max-width: 47.9375em) {
  .nav__item:not(:last-child)::after {
    display: none;
  }
  .nav__item:not(:last-child) {
    margin-bottom: 3rem;
  }
}
