.logo {
  width: 3.5rem;
}

/* (min-width: 768px) and (max-width: 1023px) */
@media (min-width: 48em) and (max-width: 63.9375em) {
  .logo {
    width: 7rem;
  }
}

/* (max-width: 767px) */
@media (max-width: 47.9375em) {
  .logo {
    width: 7rem;
  }
}
