.hamburger {
  display: none;
}

.hamburger .line {
  background: #000;
  width: 8rem;
  height: 1rem;
  display: block;
  margin: 1rem auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger.active .line:nth-child(1) {
  -webkit-transform: translateY(2rem) rotate(45deg);
  -ms-transform: translateY(2rem) rotate(45deg);
  transform: translateY(2rem) rotate(45deg);
}

.hamburger.active .line:nth-child(2) {
  opacity: 0;
}

.hamburger.active .line:nth-child(3) {
  -webkit-transform: translateY(-2rem) rotate(-45deg);
  -ms-transform: translateY(-2rem) rotate(-45deg);
  transform: translateY(-2rem) rotate(-45deg);
}

/* (max-width: 767px) */
@media (max-width: 47.9375em) {
  .hamburger {
    display: block;
  }
}
