@import "./__list/__list.css";
@import "./__item/__item.css";
@import "./__link/__link.css";

/* (max-width: 767px) */
@media (max-width: 47.9375em) {
  .nav {
    font-weight: 400;
    font-size: 4rem;
    line-height: 4.8rem;
    z-index: 2;
    position: absolute;
    top: 10rem;
    left: -3rem;
    right: -3rem;
    background-color: #fff;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    padding: 3rem;
  }
  .nav.active {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
}
