.form__block {
  width: calc(50% - 3rem);
  border: .1rem solid #C9C9C9;
  border-radius: 3.4rem;
  padding: 7rem 8rem 10rem;
}

/* (min-width: 1024px) and (max-width: 1439px) */
@media (min-width: 64em) and (max-width: 89.9375em) {
  .form__block {
    padding: 3.5rem 4rem 5rem;
  }
}

/* (max-width: 767px) */
@media (max-width: 47.9375em) {
  .form__block {
    width: 100%;
    padding: 3.5rem 4rem 5rem;
  }
}
